<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link th:href="@{/CSS/user-login.css}" rel="stylesheet" />
</head>

<body>
<center> <h1> Change Password </h1> </center>
<form action="#" th:action="@{'/dashboard/{username}/chpass-result'(username=${username})}"
      th:object="${changePassAttempt}" method="post">
    <div class="container">
        <p class="msgs"><strong th:if="${msg != null}" th:text="${msg}"></strong></p>
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" th:field="*{username}" required>
        <label>Current Password : </label>
        <input type="password" placeholder="Enter Current Passowrd" name="curpass" th:field="*{curpass}" required>
        <label>New Password : </label>
        <input type="password" placeholder="Enter New Password" name="newpass" th:field="*{newpass}" required>
        <label>Confirm Password : </label>
        <input type="password" placeholder="Confirm New Password" name="newpassconf" th:field="*{newpassconf}" required>
        <button type="submit">Update</button>
        <button type="button" class="cancelbtn"> Cancel</button>
    </div>
</form>
</body>

</html>

